<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- include header_breadcrumb.html -%}
        <h1 style="font-family: monospace">{{ page.elem }}
        <span style="float: right; font-size: 50%">{{ page.header }}</span></h1>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
